.img-container {
    align-items: center;
    background-color: royalblue;
    border: solid 10px royalblue;
    box-sizing: border-box;
    display: flex;
    margin: 20px auto;
    overflow: hidden;
    @media (min-width: 320px) {
        height: 200px;
        width: 300px;
    }
    @media (min-width: 768px) {
        height: 300px;
        width: 450px;
    }
    @media (min-width: 1024px) {
        height: 400px;
        width: 600px;
    }
    img {
        width: 100%;
    }
}